{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-info mb-3">Créer un compte</button>
       
    {{ form_end(registrationForm) }}

<a href="{{ url("home.index") }}"><button class="btn btn-light mt-5">Retour à la page d'accueil</button></a>

<div class="cledesol">
  <img src="{{asset('images/cledesol.png')}}" alt="cle de sol" width="220px" height="360px">
</div>

{% endblock %}
