{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block icon %} <link rel="shortcut icon" type="image/x-icon" href="images/note.png" />{% endblock %}

{% block body %}
<h1><span class="titreindex">Music~Shop</span></h1>
<br>
<h4>Bienvenue chez <span class="text-info"> MusicShop</span>, n°1 de la vente e-commerce d'instrument musicaux. </h4>
<br>
    <nav class="navbar navbar-expand-lg mt-3" id="Nav">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li><a class="nav-link" href="{{ url("instruments.table") }}">Utilisateur</a></li>
                    <li><a class="nav-link" href="{{ url("admin.homepage.index") }}">Administrateur</a></li>
                    <li><a class="nav-link" href="{{ logout_url() }}">Déconnexion</a></li>

                {% else %}

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url('app_login') }}">Connexion<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item1">
                        <a class="nav-link" href="{{ url('app_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item2">
                        <a class="nav-link" href="{{ url('instruments.table') }}">Liste des produits</a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </nav>

    <br>

    <div class="img_acceuil">
        <img src="images/photoaccueil2.jpg" width="1110px" height="560px">
    </div>

  

{% endblock %}