{% extends 'adminbase.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}


{% block stylesheets %}
{% endblock %}
{% block body %}


<div class="row">
    <div class="col">
        <h1>Formulaire d'ajout d'une catégorie</h1>



        {{ form_start(form, { attr: {'novalidate':'novalidate'} }) }}
        <p>
        {# form provient du contrôleur #}
        {{ form_label(form.name, 'Nom: ') }} 
        {{ form_widget(form.name, {attr:
        {
            placeholder: "Nom de la catégorie", 
            autofocus: 'autofocus'
            }
            }) }} 
        </p>
       
        <p>
        <button class="btn btn-success" type="submit">Valider</button>
        <a href="{{ url('admin.index') }}" class="btn btn-dark">Annuler</a>
        </p>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
